{% extends './layout.html' %} 

{% block title %}Inicio - Mi Hoja de Vida{%endblock %}

{% block body %}
<br />
<img
  src="https://raw.githubusercontent.com/jalejotorresm/jalejotorresm.github.io/main/photo.png"
  style="
    margin: auto;
    display: block;
    height: 15%;
    width: 15%;
    border: solid gray;
    border-radius: 50%;
  "
/>
<br />
<div class="container">
  <h4 style="text-align: center;">Julián Alejandro Torres Morales</h4>
  <br><p style="font-size: 20px; text-align: center;"><strong>Datos Personales</strong></p>
  <p style="text-align: center;">
    <strong>CC:</strong> 1144059036 - <strong>Edad:</strong> 28 Años -
    <strong>Estado civil:</strong> Casado<br /><strong>Teléfono:</strong> (+57)
    6013007229 - <strong>Celular:</strong> (+57) 3504272851 / (+57) 3505129603 -
    <strong>Correo electrónico:</strong> alejandrotorres5286@gmail.com<br />
    <strong>Dirección de residencia:</strong> Calle 26 Sur # 93D - 60, Altos de
    Ipanema Torre 12 Apartamento 102, Barrio Tierra Buena
    <br><strong>Ciudad:</strong> Bogotá, 110871 - <strong>País:</strong> Colombia
  </p>
</div>
<div class="container">
  <p style="font-size: 20px"><strong>Perfil profesional</strong></p>
  <p>
    Soy estudiante del Bachelor of Science en Computer Science a traves de
    University of the People, soy una persona bastante proactiva y gusto mucho
    de asumir nuevos retos profesionales que impliquen un crecimiento y
    desarrollo continuo de mis habilidades laborales en distintos ambientes de
    trabajo. Además soy cumplido con mis acuerdos agendados además de
    interesarme mucho por la calidad de mis labores respecto al cliente y mi
    relacion con mis compañeros de trabajo.<br /><br />Mis habilidades
    interpresonales, además de mi conocimineto y manejo de mas de un idioma
    extranjero, me permiten una acoplación con personas de distintas culturas y
    perfiles internacionales, facilitandome la comunicacion y consecución de un
    trabajo de calidad.
  </p>
  <br />
  <br />
</div>
{% endblock %}